{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for row in stocks_data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th scope="col">{{ total }}</th>
            </tr>
        </thead>
    </table>



    <button class="btn btn-primary" onclick="quote();">Stock Exchange Tip</button>
    <br>
    <h3 id="quoteDisplay"></h3>

    <script type="text/javascript">
        function quote() {
            var quotes = [
                "Invest in an Index Fund Instead of Individual Stocks.",
                "Consider Mutual Funds for Minimized Risk.",
                "Don’t Time the Market.",
                "Establish Your Goals & Objectives Prior to Investing.",
                "Learn the 5 Components of Stock Trading: Setup, Strategy, Entry, Stop, Profit target.",
                "Have a Balance of Low-, Moderate-, & High-risk Investments.",
                "Think Long Term When Investing.",
                " Look for Value Stocks to Buy.",
                "Invest Through Robo-advisors.",
                "Invest in a Low-cost Index Tracking Fund.",
                "Diversify Investments Among Asset Classes & Sectors.",
                "Identify How Much Risk You Are Willing to Take.",
                "Be Patient & Don’t Let Your Emotions Impact Your Decisions.",
                "Understand the Risks Associated With Your Investment.",
                " Define Your Investment Strategy & Long-term Goals.",
                "Have a Solid Plan in Place.",
                "Diversify Your Portfolio.",
                "Do Not Sell Out of Panic or Fear.",
                "Automate Your Stock Investments.",
                "Make Sure You Get Proper Guidance.",
                ]
            newQuote(quotes);
        }

        function newQuote(quotes) {
            var randomNum = Math.floor(Math.random() * quotes.length);
            document.getElementById("quoteDisplay").innerHTML = quotes[randomNum];
        }
    </script>

{% endblock %}